.main__bg {
  padding: 20px 0;
}

.meme {
  width: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 60px 40px;
  margin: auto;
  background-color: yellow;
}

h1 {
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.meme img {
  width: 100%;
}

.meme__disc {
  width: 100%;
  padding: 20px 0;
}

.meme__cont {
  display: flex;
  width: 100%;
}
/* Поменял цвета фона */
.header{
  background-color: #ff3dfe;
}

.main__bg{
  background: linear-gradient(90deg, rgba(0,198,255,1) 0%, rgba(54,165,200,1) 58%, rgba(76,145,232,1) 92%);;
}

/* Поменял цвета фона */

.col {
  width: 0;
  flex-grow: 1;
  box-sizing: border-box;
  padding-right: 20px;
}

h2 {
  margin: 20px 0;
  font-weight: 200;
}